body{
    background-color:hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    

}
.card{
    background-color: white;
    position: relative;
    height: 50vh;
    width: 23.8vw;
    border-radius: 25px;
     left: 38vw;
     bottom: 240vh;
}
#victor{
    border-radius: 100%;
    position: relative;
    bottom: 6.9vh;
    left: 8.5vw;
    width: 12.7vh;
    border: solid 6px white;
}
#capa{
    width: 47.7vh;
    border-radius: 25px 25px 0 0;
}
.texto{
    position: relative;
    bottom: 10vh;
    left: 5.5vw;
   
}
hr{
    position: relative;
    right: 5.5vw;
    bottom: 0.5vw;

}
table{
    position: relative;
    bottom: 10.5vh;
    bottom: 0.5vw;
    right: 7vh;
    font-size: 20.5px;
}
samp{
   font-weight: 400;
   color: gray;

   
}
p{
    position: relative;
    left: 4vw;
}
th,td{
    padding-left: 1.5vw;
}
p,td{
     color: gray;
    
}
#circulo1{
    position: relative;
    bottom: 45vw;
    right: 30vh;
}
#circulo2{
    position: relative;
    bottom: 40vw;
    left: 47.5vw;
}
    